secrets.yaml
backup/config.ini
env
.vscode
config.ini
*/data/*
# zigbee2mqtt
/zigbee2mqtt/data/
!zigbee2mqtt/data/configuration.yaml
# node-red
/node-red/data/
# home-assistant
/home-assistant/data/
!home-assitant/data/configuration.yaml
# vscode
/vscode/data/
/vscode/.local/
/vscode/.config/
# heimdall
/heimdall/data/
# duplicati
/duplicati/data/
